<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ title }} | {{ metadata.storeName }}</title>
    <meta name="description" content="{{ description or metadata.tagline }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body class="d-flex flex-column min-vh-100">

    {% include "header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | url }}"></script>
  </body>
</html>