<footer class="bg-dark text-white text-center py-4 mt-auto">
  <div class="container">
    <p class="mb-0">Copyright &copy; {% year %} - {{ metadata.storeName }}. All Rights Reserved.</p>
  </div>
</footer>